.avatar {
  border-radius: 2%;
  float: left;
  height: 300px;
  width: 300px;
  margin-bottom: 1px;
}
img:hover {
  border: 5px solid orange;
}
.member {
  background-color: #f2f4f8;
  display: inline-block;
  padding: 10px;
  width: 320px;
}
.name {
  color: white !important;
  width: 300px;
}