body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

#root {
  margin: 50px 0 0 120px;
}

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

/* The sidebar menu */
#navbar-mobile {
  display: none;
} 

.navbar {
  min-height: 50px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 55px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #818181;
  border-left: 5px solid orange;
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.dropdown-item {
  color: white !important;
  font-size: 64px;
}
.dropdown-item:hover {
  border-left: 5px solid orange;
  color: orange !important;
}

@media only screen and (max-width: 767px) {
  .sidenav {
    display: none;
  }
  #navbar-mobile {
    display: block;
  }
  #root {
    margin-left: 0;
  }
}